body{
    counter-reset:estrofa section;
    width:85%;
    margin: 0 auto;
}

span{
    color:blue;
    background-color:yellow;
    font-weight: bold;
}

h2{
    color:black;
}

p{
    color:blue;
}